* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}


section#login {
  height: 100vh;
  background-color: #e8f0fe;
}

section#login section.form {
  width: 20%;
  margin: 0 auto;
}

section#login section.form h1 {
  font-size: 32px;
  font-family: "Poppinsbold";
  padding-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

section#login section.form form {
  text-align: center;
}

section#login section.form form div.formrow {
}

section#login section.form form div.formrow label {
  font-family: "Poppinsmedium";
}

section#login section.form form div.formrow input {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 10px 25px;
}

section#login section.form form div.submit {
  margin: 15px auto 0 auto;
  width: 50%;
}

section#login section.form form div.submit button {
  padding: 8px 10px;
  border: 1px solid #000;
  border-radius: 6px;
  margin-bottom: 10px;
}
section#login section.form form div.submit button:hover {
  background-color: green;
  font-family: "Poppinsmedium";
  color: #fff;
  cursor: pointer;
}
header {
}

header section.wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100px;
  align-items: center;
}

header section.wrapper h1.left {
  width: 40%;
}

header section.wrapper h1.left a {
  display: inline-block;
  width: 25%;
}

header section.wrapper h1.left a img {
  width: 100%;
  display: block;
}

header section.wrapper div.right {
  width: 25%;
}

header section.wrapper div.right span {
  font-family: "Poppinsmedium";
}

header section.wrapper div.right a {
  font-family: "Poppinsmedium";
  padding: 10px 10px;
  border-radius: 6px;
  background: black;
  color: wheat;
  margin-left: 30px;
}